<!-- Leftside bar -->

    <nav class="tm-nav">
        <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div>
            <div class="tm-brand-box">
                <h1 class="tm-brand"><img src="./assets/img/Logo/Trung Shop.gif" width="240" height="180"></h1>
            </div>                
            <ul id="tm-main-nav">
                <li class="nav-item">                                
                    <a routerLink = "/" class="nav-link current">
                        <div class="triangle-right"></div>
                        <i class="fas fa-home nav-icon"></i>
                        Home
                    </a>
                </li>
                <li class="nav-item" >
                    <a routerLink = "/danh-muc" class="nav-link" >
                        <div class="triangle-right"></div>
                        <i class="fas fa-images nav-icon"></i>
                        Categories
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink = "/dang-nhap" class="nav-link">
                        <div class="triangle-right"></div>
                        <i class="fas fa-user-friends nav-icon"></i>
                        Login
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink = "/lien-he" class="nav-link">
                        <div class="triangle-right"></div>
                        <i class="fas fa-envelope nav-icon"></i>
                        Contact
                    </a>
                </li>
            </ul>
        </div>
        <footer class="mb-3 tm-mt-100">
            <a href="#" target="_parent" rel="sponsored">Trung Shop</a>
        </footer>
    </nav>

