
<div class="container-fluid">
    <div class="row">
        <div id="tm-sidebar" class="tm-sidebar"> 
        <app-sidebar></app-sidebar>
        </div>
        <div class="tm-main">
            <div class="tm-section-wrap">
                <div class="tm-parallax" data-parallax="scroll" data-image-src="./assets/img/img-02.jpg"></div>                   
                <section id="gallery" class="tm-section">
                    <router-outlet></router-outlet>
                </section>
            </div> 
    </div>
    </div> <!-- .row -->
</div> <!-- .container-fluid -->




