<!-- Contact section -->

        <h2 class="tm-text-primary">Login</h2>
        <hr class="mb-5">
        <h2 class="tm-text-primary" *ngIf = "mess != ''" >Đăng nhập thành công</h2>
        <div class="row">
            <div class="col-xl-10 tm-contact-col-l mb-4">
                
                <form [formGroup]="loginForm"  (ngSubmit) = "login('password', 'email')">
                    <!-- form  -->
                    <div class="form-group">
                    <label for="email">Email address<span class="text-danger">*</span>:</label>
                    <!-- gắn thêm  #email = "ngModel",  name="email", ngModel để validate -->
                    <input type="email"  class="form-control" placeholder="Enter email" id="email" name="email" formControlName="email" >
                    <span *ngIf="email.invalid && email.touched" class="error"> Email field is invalid </span>
                    </div>
                    <div class="form-group">
                    <label for="password">Password<span class="text-danger">*</span>:</label>
                    <input type="password" class="form-control" placeholder="Enter password" id="password" name="password" formControlName="password">
                    <span *ngIf="password.invalid && password.touched" class="error"> password field is invalid </span>
                    </div>
                    <!-- [disabled] = "registerForm.invalid" dùng để vô hiệu hóa nút submid nếu chưa nhập đủ dử liệu cần -->
                    <button [disabled] = "loginForm.invalid" type="submit" class="btn btn-primary">Submit</button>
                </form>
                <li class="nav-item">
                    <a routerLink = "/dang-ky" class="nav-link">
                        <div class="triangle-right"></div>
                        <i class="fas fa-user-friends nav-icon"></i>
                        Register
                    </a>
                </li>
            </div>
        </div>
    
