<!-- Gallery section -->

        <h2 class="tm-text-primary">Upright Gallery</h2>
        <hr class="mb-5">
        <app-menu></app-menu>
    
        <div class="col-sm-12">
					
            <div class="row" *ngFor = "let i of Product">
                <div class="col-sm-5">
                    <!-- @if($tt_sanpham->promotion_price !=0)
                        <div class="ribbon-wrapper">
                        <div class="ribbon sale">Sale</div>
                        </div>
                    @endif -->
                    <div class="single-item-header">
                        <img src="./assets/img/gallery/tn/{{i.img}}" width="100%">
                    </div>
                </div>
                <div class="col-sm-7">  
                    <div class="single-item-body">
                        <p class="single-item-title">{{i.name}}</p>
                            <p class="single-item-price" style="font-size: 15px;">
                                <span class="flash-sale">price: {{i.price| number : '1.0-0'}} Vnd</span>
                            </p>
                    </div>

                    <div class="clearfix"></div>
                    <div class="space20">&nbsp;</div>

                    <p class="single-item-body">Lựa chọn thêm:</p>
                    <div class="single-item-body" >
                        <form action="#" method="post" style="display: flex;">
                        <label style="margin-top: 10px;">Số lượng:</label>
                        <input type="text" name="soluong" style="width: 50px" placeholder="1">
                        <button type="submit" class="add-to-cart" name="id" value=""><i class="fa fa-shopping-cart"></i></button>
                        </form>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="space40">&nbsp;</div>
            <div class="woocommerce-tabs">
                <ul class="tabs">
                    <li id="tab-description"><a href="#tab-reviews">Views: 15/Sale: 15 </a></li>
                </ul>

                <div class="panel" id="tab-description">
                    <p> Description : sản phẩm rất dược ưa chuộng sản phẩm rất dược ưa chuộng sản phẩm rất dược ưa chuộng sản phẩm rất dược ưa chuộng</p>
                </div>
                <div class="panel" id="tab-reviews">
                    <p>No Reviews</p>
                </div>
            </div>
            <div class="space20">&nbsp;</div>
            <div class="beta-products-list">
                <h4>Sản phẩm liên quan</h4>
                <div class="beta-products-details">
                        <p class="pull-left">Tìm thấy  sản phẩm</p>
                        <div class="clearfix"></div>
                    </div>

                    <div class="row">
                        <!-- <div class="tm-gallery col-lg-6" *ngFor="let i of allProducts" style="left: 1px;" >
                        <a routerLink="/danh-muc/{{i._id}}">
                            <figure class="effect-honey tm-gallery-item building" >
                                <img src="./assets/img/gallery/tn/{{i.img}}" alt="Image"/>
                                <figcaption>
                                    <h2><i>{{i.name}}</i>
                                    </h2><br>
                                    <h3>
                                        <i>Price :{{i.price| number : '1.0-0'}} Vnd</i>
                                    </h3>
                                            
                                </figcaption>		
                            </figure>
                        </a> -->
            
                        <div class="card col-lg-6" *ngFor="let i of ProductsOfCategories"  >
                            <div class="col-12"  style="padding-top:10px">
                                <div class="single-item">
                                    <!-- @if($np->promotion_price !=0 )
                                    <div class="ribbon-wrapper">
                                        <div class="ribbon sale">Sale</div>
                                    </div>
                                    @endif -->
                                    <div class="single-item-header" >
                                        <a class="row" routerLink="/san-pham/{{i._id}}" style="margin: auto!important">
                                            <img class="col-xl-12"  src="./assets/img/gallery/tn/{{i.img}}" alt=""></a>
                                    </div>
                                    <div class="single-item-body">
                                        <p class="single-item-title">{{i.name}}</p>
                                        <p class="single-item-price" style="font-size: 15px;">
                                            <!-- @if($np->promotion_price ==0) -->
                                            <span class="flash-sale">{{i.price| number : '1.0-0'}} Vnd</span>
                                            <!-- @else -->
                                            <!-- <span class="flash-del">{{number_format($np->unit_price)}} đồng</span>
                                            <span class="flash-sale">{{number_format($np->promotion_price)}} đồng</span>
                                            @endif -->
                                        </p>
                                    </div>
                                    <div class="single-item-caption" style="display: flex; margin-bottom: 20px;">
                                            <a class="add-to-cart pull-left" href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a class="beta-btn primary" routerLink="/san-pham/{{i._id}}">Chi Tiết<i class="fa fa-chevron-right"></i></a>
                                            <div class="clearfix"></div>
                                        </div>
                                </div>
                            </div>
                        </div>
            
            
            
                        <!-- </div> -->
                    </div>
            </div> <!-- .beta-products-list -->
        </div>

    
